<!DOCTYPE html>
<html ng-lang="en">
<head>
    <meta charset="UTF-8">
    <title>BitWise Sample</title>
    <meta name="Prestin" content="BitWise Sample Page">

    <!--Library-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!--Styles-->
        <link  rel="stylesheet" href="style.css">

    <!--Javascripts-->

</head>

<body>
<header class="header" role="banner">
    <!-- Adding the ng-app declaration to initialize AngularJS -->
    <div id="main" ng-app>
        <!-- The navigation menu will get the value of the "active" variable as a class.
             The $event.preventDefault() stops the page from jumping when a link is clicked. -->

        <nav class="{{active}}" ng-click="$event.preventDefault()">

            <!-- When a link in the menu is clicked, we set the active variable -->

            <a href="#" class="Home" ng-click="active='Home'">Home</a>
            <a href="#" class="dropbtn" ng-mouseover="active='dropbtn'">League Of Legends</a>
            <div class="dropdown-content">
                <a href="#">OP.GG</a>
                <a href="#">League Patches</a>
            </div>
            <a href="#" class="Steam" ng-click="active='Steam'">Steam</a>


        </nav>
    </div>
</header>
</body>
</html>

